.Services {
    padding: 50px 20px;
    text-align: center;
  }
  
  .Services h2 {
    font-size: 2em;
    margin-bottom: 30px;
  }
  
  .Services-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Service-card {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 0 20px;
    max-width: 300px;
  }
  
  .Service-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .Service-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .Service-card p {
    font-size: 1em;
    color: #666;
  }
  